extends layout

block content
        // display the detail of the first item
        - var item = event
        h3= item.type
        div.row
            div.four.columns= item.actor.login
        div.row
            a(href=item.branches_url) Branches
        div.row 
            a(href=item.forks_url) Forks
